<div class="gameOrthography">
    <div id="orthography">
        <!--CANVAS-->
    </div>
    <div class="icon">
        <img ng-src="{{showWord.pathImage}}" alt="icona słowa">
        <div class="letters">
            <div class="letter" ng-repeat="letter in showLettera track by $index">
                <img ng-src="img/orthography/{{letter}}.png" alt="{{letter}}">
            </div>
        </div>
    </div>
</div>
