<div class="container log_user">
  <div ng-if="user.username" class="back navbar-nav col-lg-3 col-xs-3 logowanie">
    <button class="btn wyloguj" ng-click="home()" href="">Wróć</button>
  </div>
  <div class="col-lg-5 logowanie nav navbar-nav navbar-right">
    <div ng-hide="user.username">
      <div class="log">Zaloguj rodzica lub dziecko</div>
      <form method="post" name="loginForm" ng-submit="login()">
        <div class="form-group col-lg-5">
          <input type="text" class="form-control" name="loglog" ng-model="log.username" placeholder="Login...">
        </div>
        <div class="form-group col-lg-5">
          <input type="password" class="form-control" name="passlog" ng-model="log.password" placeholder="Hasło...">
        </div>
        <div class="form-group col-lg-2">
          <button type="submit" class="btn btn-default" name="loginbutton" value="Zaloguj się">Zaloguj</button>
        </div>
      </form>
      <div class="log error"> {{message}}</div>

    </div>

    <li ng-show="user.username" class="logout">
      <span class="user">Witaj, <strong>{{user.name}} </strong></span>
      <button class="btn wyloguj" ng-click="logout()" class="logout">Wyloguj</button>
    </li>

  </div>


</div>