<div class="dot">
    <div class="games">
        <div class="gry col-sm-6">
            <img ng-src="img/orthography/orthography.png" class="img-responsive" alt="ikona1" ui-sref="orthography">
        </div>
        <div class="gry col-sm-6">
            <img ng-src="img/british.png" class="img-responsive" alt="ikona3" ui-sref="english">
        </div>
        <div class="gry col-sm-6">
            <img ng-src="img/bajki.png" class="img-responsive" alt="ikona3" ui-sref="taleSchoolkid">
        </div>
    </div>
</div>