<div class="container">
    <div class="tale col-xs-6 col-sm-4">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/GsmWFySOV4E?rel=0" frameborder="0" allow="autoplay; encrypted-media"
            allowfullscreen></iframe>
    </div>
    <div class="tale col-xs-6 col-sm-4">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/EtkNEAxsvoM?rel=0" frameborder="0" allow="autoplay; encrypted-media"
            allowfullscreen></iframe>
    </div>
    <div class="tale col-xs-6 col-sm-4">
        <iframe frameborder="0" width="1196" height="620" src="//www.dailymotion.com/embed/video/x31gmqd?autoPlay=0&start=100" allowfullscreen
            allow="autoplay; encrypted-media"></iframe>
    </div>
    <div class="tale col-xs-6 col-sm-4">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/8RjpQ67aWOA?rel=0" frameborder="0" allow="autoplay; encrypted-media"
            allowfullscreen></iframe>
    </div>
    <div class="tale col-xs-6 col-sm-4">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/q4DuMLdgecg" frameborder="0" allow="autoplay; encrypted-media"
            allowfullscreen></iframe>
    </div>
    <div class="tale col-xs-6 col-sm-4">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/FJ83BRqFPBA" frameborder="0" allow="autoplay; encrypted-media"
            allowfullscreen></iframe>
    </div>
    <div class="tale col-xs-6 col-sm-4">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/LmpLrMs44VQ" frameborder="0" allow="autoplay; encrypted-media"
            allowfullscreen></iframe>
    </div>
    <div class="tale col-xs-6 col-sm-4">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/plQ8rCApNIQ" frameborder="0" allow="autoplay; encrypted-media"
            allowfullscreen></iframe>
    </div>

    <div class="tale col-xs-6 col-sm-4">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/1JvGQom1p9k" frameborder="0" allow="autoplay; encrypted-media"
            allowfullscreen></iframe>
    </div>
</div>