<div class="container">
    <div class="tale col-xs-6 col-sm-4">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/2KOHU0lf_JY?rel=0" frameborder="0" allow="autoplay; encrypted-media"
            allowfullscreen></iframe>
    </div>
    <div class="tale col-xs-6 col-sm-4">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/_baHrt4jYh0?rel=0" frameborder="0" allow="autoplay; encrypted-media"
            allowfullscreen></iframe>
    </div>
    <div class="tale col-xs-6 col-sm-4">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/pEiC40fxPOQ?rel=0" frameborder="0" allow="autoplay; encrypted-media"
            allowfullscreen></iframe>
    </div>
    <div class="tale col-xs-6 col-sm-4">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/Kkm8k_B99lA?rel=0" frameborder="0" allow="autoplay; encrypted-media"
            allowfullscreen></iframe>
    </div>
    <div class="tale col-xs-6 col-sm-4">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/e5pRuzVeyYA?rel=0" frameborder="0" allow="autoplay; encrypted-media"
            allowfullscreen></iframe>
    </div>
    <div class="tale col-xs-6 col-sm-4">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/QTdz3p1N64A?rel=0" frameborder="0" allow="autoplay; encrypted-media"
            allowfullscreen></iframe>
    </div>
    <div class="tale col-xs-6 col-sm-4">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/5IQBQBvgjrg?rel=0" frameborder="0" allow="autoplay; encrypted-media"
            allowfullscreen></iframe>
    </div>
    <div class="tale col-xs-6 col-sm-4">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/Lv-1s65cgJM?rel=0" frameborder="0" allow="autoplay; encrypted-media"
            allowfullscreen></iframe>
    </div>
    
    <div class="tale col-xs-6 col-sm-4">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/JdcGTOAAuKg?rel=0" frameborder="0" allow="autoplay; encrypted-media"
            allowfullscreen></iframe>
    </div>
</div>