<div class="window">
    <div class="container">
        <div class="row carts">
            <div class="cart col-sm-4">
                <div class="foto jeden">
                    <img ng-click="check(game[0].word,game[losowo].word)" ng-src="{{game[0].pathWord}}" class="img-responsive" alt="ikona1">
                    <img ng-if="wrong===game[0].word" ng-src="img/ABC/incorrect.png" class="img-responsive wrong" alt="blad">
                </div>
            </div>
            <div class="cart col-sm-4 ">
                <div class="foto dwa ">
                    <img ng-click="check(game[1].word,game[losowo].word)" ng-src="{{game[1].pathWord}}" class="img-responsive" alt="ikona2">
                    <img ng-if="wrong===game[1].word" ng-src="img/ABC/incorrect.png" class="img-responsive wrong" alt="blad">
                </div>
            </div>
            <div class="cart col-sm-4">
                <div class="foto trzy">
                    <img ng-click="check(game[2].word,game[losowo].word)" ng-src="{{game[2].pathWord}}" class="img-responsive" alt="ikona3">
                    <img ng-if="wrong===game[2].word" ng-src="img/ABC/incorrect.png" class="img-responsive wrong" alt="blad">
                </div>
            </div>
        </div>
        <div class="word">
            <div class="col-xs-6 text-right"><img ng-show="pasuje" ng-src="{{game[losowo].pathWord}}" class="img-responsive" alt="ikona2"></div>
            <h1 class="col-xs-6 text-left">{{game[losowo].word}}</h1>
        </div>
    </div>
</div>