<div class="gameOrthography">
    <div id="start">
        <!--<div style="text-align:center;width:480px;">
            <button ng-click="moveup()" ng-mouseup="clearmove()" ontouchstart="moveup()">UP</button><br><br>
            <button ng-mousedown="moveleft()" ng-mouseup="clearmove()" ontouchstart="moveleft()">LEFT</button>
            <button ng-mousedown="moveright()" ng-mouseup="clearmove()" ontouchstart="moveright()">RIGHT</button><br><br>
            <button ng-mousedown="movedown()" ng-mouseup="clearmove()" ontouchstart="movedown()">DOWN</button>
        </div>-->
    </div>
    <div class="zdj">


    </div>
</div>