html, body, .container, .row{ height: 100%; margin: 0px; padding: 0px; }
body { 
    background: url("../img/tablica.jpg") no-repeat;
    background-size: cover;
    
}
.cart{
    display: inline-block;

}
.foto{
    margin: 10px;
    background: white;
    border-radius : 20px;
    overflow: hidden;
    
    width: 90%;
    height: 90%;
}

img{
    display: flex;
    align-self: flex-end;
}
.carts {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.w {
    display: flex;
    align-items: center;
    justify-content: center;
}
.word{
    background: url("../img/book.png") no-repeat center;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 350px;
    width: 80%;
    margin: 0px 0px;
}
.word h1{
    font-size: 90px;
    letter-spacing: 15px;
    margin-left: 30px;
    
}

@media screen and (max-width: 768px)
{
.cart{
    max-width: 200px;
    margin: auto;
}
.carts {
    margin-top: 0px;
}
.word{
    padding-top: 10px;
}
.word h1{
    font-size: 75px;
}

}