<div class="rejestracja">

    <div class="alert alert-success sent col-sm-5" ng-show="sendRegister">
        Dane rodzica <strong>zapisane!</strong> </br>
        Możesz się już <strong>zalogować</strong>
    </div>
    <!--<div class="alert alert-success sent col-sm-5" ng-show="sendRegister">
        blad {{sendRegister}} {{form.$submitted}}
    </div>-->
<!--
    <div class="alert alert-success sent col-sm-5" ng-show="formChild.$submitted">
        Możesz już <strong>zalogować</strong> siebie lub dziecko
    </div>

    <div ng-show="form.$submitted && !formChild.$submitted"  class=" dziecko col-xs-12 col-sm-5 col-md-5">
      
    <h2>Zapisz dziecko</h2>
    <hr>
    <form  method="post" name="formChild" novalidate>

      <div class="form-group col-sm-12">
        <input type="text" 
            class="form-control" 
            name="dzieckonamerej" ng-model="dziecko.name" 
            required="required" 
            placeholder="Imie dziecka">    
        <div ng-show="formChild.dzieckonamerej.$touched">    
            <span ng-show="formChild.dzieckonamerej.$error.required" class="info-block">Podaj imię dziecka</span> 
        </div>
      </div>

      <div class="form-group col-sm-12">
        <input type="number" 
            class="form-control" 
            name="dzieckoAgerej" ng-model="dziecko.age" 
            required="required" 
            min="2"
            max="15"
            placeholder="wiek dziecka">    
        <div ng-show="formChild.dzieckoAgerej.$touched">    
            <span ng-show="formChild.dzieckoAgerej.$error.required" class="info-block">Podaj wiek dziecka</span>
            <span ng-show="formChild.dzieckoAgerej.$error.min" class="info-block">Dziecko jest za małe</span>
            <span ng-show="formChild.dzieckoAgerej.$error.max" class="info-block">Dziecko jest za duże</span>
        </div>
      </div>

      <div class="form-group col-sm-12">
        <input type="text" 
            class="form-control" 
            name="dzieckoLogrej" ng-model="dziecko.login" 
            required="required" 
            placeholder="login dla dziecka">    
        <div ng-show="formChild.dzieckoLogrej.$touched">    
            <span ng-show="formChild.dzieckoLogrej.$error.required" class="info-block">login dla dziecka</span>
        </div>
      </div>

      <div class="form-group col-sm-6">
        <input type="password" 
            class="form-control" 
            name="dzieckopassword" ng-model="dziecko.password" 
            required="required" 
            placeholder="hasło dla dziecka">    
        <div ng-show="formChild.dzieckoHaslorej.$touched">    
            <span ng-show="formChild.dzieckoHaslorej.$error.required" class="info-block">hasło dla dziecka</span>
        </div>
      </div>

      <div class="form-group col-sm-6">
        <input type="password" 
            class="form-control" 
            name="childPassword2" ng-model="dziecko.passwordReplay" 
            required="required"
            placeholder="Powrórz hasło">    
        <div ng-show="formChild.childPassword2.$touched">    
            <span ng-show="formChild.childPassword2.$error.required" class="info-block">powtórz hasło dla dziecka</span>
            <span ng-if="formChild.childPassword2.$error.matchChild" class="info-block">hasło niezgodne</span>
        </div>
      </div>

      <div class="col-sm-12">
        <button type="submit" class="zaloguj btn col-xs-12" name="rejbutton" ng-disabled="formChild.$invalid" value="Zaloguj się">Zarejestruj</button>           
      </div>


    </form>
    </div>

-->
 <div ng-show="!sendRegister" class="parent col-xs-12 col-sm-5 col-md-5">

      <h2>Rejestracja rodzica</h2>
      <hr>
      <form  method="post" name="form" class="my-form" novalidate>

        <div class="form-group col-sm-6">
          <input type="text" 
              class="form-control" 
              name="namerej" ng-model="parent.name" 
              required="required" 
              placeholder="Imie">    
          <div ng-show="form.namerej.$touched">    
              <span ng-show="form.namerej.$error.required" class="info-block">Podaj swoje imię</span>
          </div>
        </div>

        <div class="form-group col-sm-6">
          <input type="text" 
            class="form-control" 
            name="surrej" 
            ng-model="parent.surname" 
            required="required" 
            placeholder="Nazwisko">                    
          <div ng-show="form.surrej.$touched">    
              <span ng-show="form.surrej.$error.required" class="info-block">Podaj swoje nazwisko</span>
          </div>
        </div>

        <div class="form-group col-sm-12">
          <input type="email" 
            class="form-control" 
            name="emailrej" 
            ng-model="parent.email" 
            required="required" 
            placeholder="email">                      
          <div ng-show="form.emailrej.$touched">    
              <span ng-show="form.emailrej.$error.required" class="info-block">Podaj swój email</span>
              <span ng-show="form.emailrej.$error.email" class="info-block">Twój email jest niepoprawny</span>
          </div>
        </div>

        <div class="form-group col-sm-12">
          <input type="text" 
            class="form-control" 
            name="logrej" 
            ng-model="parent.username" 
            required="required" 
            placeholder="Login">                    
          <div ng-show="form.logrej.$touched">    
              <span ng-show="form.logrej.$error.required" class="info-block">Podaj login</span>
              <span ng-show="loginExist" class="info-block">Login już isnieje!!!</span>
          </div>
        </div>

        <div class="form-group col-sm-12">
          <input type="password" 
            class="form-control" 
            name="passrej" 
            ng-model="parent.password" 
            required="required" 
            placeholder="Hasło">                
          <div ng-show="form.passrej.$touched">    
              <span ng-show="form.passrej.$error.required" class="info-block">Wpisz hasło</span>
          </div>
        </div>

        <div class="form-group col-sm-12">
          <input type="password" 
            class="form-control" 
            name="replayPassword" 
            ng-model="replayPassword" 
            required="required"
            placeholder="Powtórz hasło">          
          <div ng-show="form.replayPassword.$touched">    
              <span ng-show="form.replayPassword.$error.required" class="info-block">Powtórz hasło</span>
              <span ng-if="form.replayPassword.$error.match" class="info-block">Hasło niezgodne</span>
          </div>
        </div>

        <div class="col-sm-12">
          <button ng-click="check()" type="submit" class="zaloguj btn col-xs-12" name="rejbutton" ng-disabled="form.$invalid" value="Zaloguj się">Przejdź dalej </button>           
        </div>
      </form>
  </div>





</div>