<div class="dot">
    <div class="games">
        <div class="gry col-sm-6">
            <img ng-src="img/abc.png" class="img-responsive" alt="ikona1" ui-sref="abc">
        </div>
        <div class="gry col-sm-6 ">
            <img ng-src="img/cyfry.png" class="img-responsive" alt="ikona2" ui-sref="digits">
        </div>
        <div class="gry col-sm-6">
                <img ng-src="img/bajki.png" class="img-responsive" alt="ikona3" ui-sref="talePreschooler">
        </div>
    </div>
</div>