<div class="back-parent">
    <div class="container">
        <div class="add-child col-md-6 col-sm-6 col-xs-12 well" ng-click="viewAddChild(3)">
            <strong class="col-md-6 col-sm-5 col-xs-9">zapisz dziecko</strong> 
            <button class="btn btn-success navbar-right"><img src="foto/add.png" alt="add-child"></button>
        </div>
        <div class="allChild">
            <div class="col-md-6 col-sm-6 col-xs-12 child well" ng-repeat="child in childs">
                <span class="col-md-6 col-sm-4 col-xs-6"><strong>{{child.name}}</strong> <small> {{child.age}} lat</small></span>

                <button ng-if="child.age<5" class="btn btn-info" ng-click="getResutlAbc(child.username, 1)">
                    <img src="foto/icon-ABC.svg" alt="add-child"></button>
                <button ng-if="child.age>=5" class="btn btn-info" ng-click="getResultOrthography(child.username, 4)">
                    <img src="foto/icon-ABC.svg" alt="add-child"></button>
                <button ng-if="child.age<5" class="btn btn-info" ng-click="getResutlDigits(child.username, 2)">
                    <img src="foto/icon-123.svg" alt="add-child"></button>
                <button ng-if="child.age>=5" class="btn btn-info" ng-click="getResutlAbc(child.username, 1)">
                    <img src="foto/icon-english.png" alt="add-child"></button>

            </div>
        </div>

        <div ng-if="tabResult === 1" class="allChild results navbar-right col-sm-5 col-xs-12">
            <div class="exit" ng-click="viewAddChild(0)">
                <img src="foto/cross.png" alt="zamknij">
            </div>
            <strong ng-if="emptyResult" class="col-sm-12 col-xs-12">{{emptyResult}}</strong>
            <div class="well child col-sm-12 col-xs-12 inline" ng-repeat="resultAbc in childAbc">
                <strong class="col-sm-2 col-xs-2">{{resultAbc.name}}</strong>
                <div class="col-sm-10 col-xs-10">
                    <div class="green" style="width:{{(resultAbc.good/(resultAbc.wrong+resultAbc.good))*100}}%;">
                        <span>{{resultAbc.good}}/{{resultAbc.wrong+resultAbc.good}}</span> </div>
                    <div class="red" style="width:{{(resultAbc.wrong/(resultAbc.good+resultAbc.wrong))*100}}%;">
                        <span>{{resultAbc.wrong}}/{{resultAbc.good+resultAbc.wrong}}<span></div>
                </div>
            </div>
        </div>

        <div ng-if="tabResult === 4" class="allChild results navbar-right col-sm-5 col-xs-12">
            <div class="exit" ng-click="viewAddChild(0)">
                <img src="foto/cross.png" alt="zamknij">
            </div>
            <strong ng-if="emptyResult" class="col-sm-12 col-xs-12">{{emptyResult}}</strong>
            <div class="well child col-sm-12 col-xs-12 inline" ng-repeat="resultOrthography in childOrthography">
                <strong class="col-sm-2 col-xs-2">{{resultOrthography.name}}</strong>
                <div class="col-sm-10 col-xs-10">
                    <div class="green" style="width:{{(resultOrthography.good/(resultOrthography.wrong+resultOrthography.good))*100}}%;">
                        <span>{{resultOrthography.good}}/{{resultOrthography.wrong+resultOrthography.good}}</span>
                    </div>
                    <div class="red" style="width:{{(resultOrthography.wrong/(resultOrthography.good+resultOrthography.wrong))*100}}%;">
                        <span>{{resultOrthography.wrong}}/{{resultOrthography.good+resultOrthography.wrong}}<span>
                    </div>
                </div>
            </div>
            <!--<div  class="well child" ng-repeat="resultAbc in childAbc">
                <strong>{{resultAbc.name}}</strong>{{resultAbc.point}}
            </div>-->

        </div>


        <div ng-if="tabResult === 2" class="allChild results navbar-right col-sm-5 col-xs-12">
            <div class="exit" ng-click="viewAddChild(0)">
                <img src="foto/cross.png" alt="zamknij">
            </div>
            <strong ng-if="emptyResult"  class="col-sm-12 col-xs-12">{{emptyResult}}</strong>
            <div  class="well child col-sm-12 col-xs-12 inline" ng-repeat="resultDigit in childDigit">
                <strong class="col-sm-2 col-xs-2">{{resultDigit.point}}</strong>
                <div class="col-sm-10 col-xs-10">
                    <div class="green" style="width:{{(resultDigit.good/(resultDigit.wrong+resultDigit.good))*100}}%;">
                    <span >{{resultDigit.good}}/{{resultDigit.wrong+resultDigit.good}}</span> </div>
                    <div class="red" style="width:{{(resultDigit.wrong/(resultDigit.good+resultDigit.wrong))*100}}%;">
                        <span>{{resultDigit.wrong}}/{{resultDigit.good+resultDigit.wrong}}<span></div>
                </div>
            </div>
        </div>

    <div ng-show="tabResult === 3" class="dziecko results col-xs-12 col-sm-5 col-md-5">

        <div class="exit" ng-click="viewAddChild(0)">
            <img src="foto/cross.png" alt="zamknij">
        </div>
        
        <h2>Zapisz dziecko</h2>
        <hr>
        <form  method="post" name="formChild" class="my-form" novalidate>

        <div class="form-group col-sm-12">
            <input type="text" 
                class="form-control" 
                name="dzieckonamerej" ng-model="dziecko.name" 
                required="required" 
                placeholder="Imie dziecka">    
            <div ng-show="formChild.dzieckonamerej.$touched">    
                <span ng-show="formChild.dzieckonamerej.$error.required" class="info-block">Podaj imię dziecka</span>
                    </div>
                </div>

                <div class="form-group col-sm-12">
                    <input type="number" class="form-control" name="dzieckoAgerej" ng-model="dziecko.age" required="required" min="2" max="15"
                        placeholder="wiek dziecka">
                    <div ng-show="formChild.dzieckoAgerej.$touched">
                        <span ng-show="formChild.dzieckoAgerej.$error.required" class="info-block">Podaj wiek dziecka</span>
                        <span ng-show="formChild.dzieckoAgerej.$error.min" class="info-block">Dziecko jest za małe</span>
                        <span ng-show="formChild.dzieckoAgerej.$error.max" class="info-block">Dziecko jest za duże</span>
                    </div>
                </div>

                <div class="form-group col-sm-12">
                    <input type="text" class="form-control" name="dzieckoLogrej" ng-model="dziecko.username" required="required" placeholder="login dla dziecka">
                    <div ng-show="formChild.dzieckoLogrej.$touched">
                        <span ng-show="formChild.dzieckoLogrej.$error.required" class="info-block">login dla dziecka</span>
                        <span ng-show="loginChildExist" class="info-block">Login już isnieje!!!</span>
                    </div>
                </div>

                <div class="form-group col-sm-6">
                    <input type="password" class="form-control" name="dzieckopassword" ng-model="dziecko.password" required="required" placeholder="hasło dla dziecka">
                    <div ng-show="formChild.dzieckoHaslorej.$touched">
                        <span ng-show="formChild.dzieckoHaslorej.$error.required" class="info-block">hasło dla dziecka</span>
                    </div>
                </div>

                <div class="form-group col-sm-6">
                    <input type="password" class="form-control" name="childPassword2" ng-model="passwordReplay" required="required" placeholder="Powrórz hasło">
                    <div ng-show="formChild.childPassword2.$touched">
                        <span ng-show="formChild.childPassword2.$error.required" class="info-block">powtórz hasło dla dziecka</span>
                        <span ng-if="formChild.childPassword2.$error.matchChild" class="info-block">hasło niezgodne</span>
                    </div>
                </div>

                <div class="col-sm-12">
                    <button ng-click="saveChild()" type="submit" class="zaloguj btn col-xs-12" name="rejbutton" ng-disabled="formChild.$invalid"
                        value="Zaloguj się">Zarejestruj</button>
                </div>


                </form>
            </div>
        </div>
    </div>