html, body {
	height: calc(100vh - 73px);
	display: block;
}
// @media screen and (min-width: 480px) {
// canvas{
//   border: solid 6px saddlebrown;
//   //width: 100%;
//   //background: url("img/niebo.png");
//   width: 100%;
// }
// }
//@media screen and (max-height: 480px) {

.exit, .exit img{
  width: 20px;
  height: 20px;
  position: absolute;
      left: 0px;
      top: -5px;
  z-index: 2;
}

.log{
  font-family: 'Indie Flower';
  padding-bottom: 3px;
  margin-left: 15px;
  font-size: 15px;
  color: #4e3632;

}
.back{
  margin-left: 10px;
}
.pos-center
{
	margin: auto;
}
.info-block, .error{
	color: #990000;
  font-weight: bold;
	font-size: 12px;
}
.error{
  height: 15px;
}
.logowanie{
	padding: 12px 0px;
  display: flex;
  align-items:flex-end;

      .btn{
      background: #4e3632; 
      color:palegoldenrod;
      font-family: 'Indie Flower';
    }
    form{
      display: flex;
      input{
        font-size: 12px;
      }
      .form-group {
      margin-bottom: 0px;
      }
    }
    .user{
      padding: 5px 15px;
      font-family: 'Indie Flower';
      font-size: 18px;
    }
}
.logowanie.navbar-right{
  display: flex;
  justify-content:flex-end;}

// .log_user{
//   display: flex;
//   align-items:center;
// }
// .logout{
//   display: flex;
//   align-self:flex-end;
// }

.rejestracja{
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  background: url("../foto/family4.jpg") no-repeat;
  background-size:cover;
  padding: 20px;
  min-height: 85vh;
  h2{
    color:palegoldenrod;
    font-family: 'Indie Flower';
    font-size: 45px;
  } 
}

.parent {
  background: rgba(0, 0, 0, 0.5);
  padding-bottom: 30px;
  float: right;
} 



.btn.zaloguj{
  background: palegoldenrod; 
  color: saddlebrown;
  height: 50px;
  margin-top: 20px;
  text-transform: uppercase;
  font-family: 'Indie Flower';
  font-weight: bold;
  letter-spacing: 1px;
}
.wyloguj:hover{
        background: #77514b;
        box-shadow: 0px 0px 3px 2px lightgray;
      }
.btn.zaloguj:hover{
    box-shadow: 0px 0px 3px 2px lightgray;
  }
.my-form .ng-invalid { 
  border-color: red;
}
.my-form .ng-untouched { 
  border-color: lightgray; 
}
.my-form .ng-valid { 
  border-color: green; 
}
.sent{
  margin: 10px 0px;
  padding: 10px;
  display: block;

}

///////////////////////////////////////////////////////////

.window { 
    background: url("../img/tablica.jpg") no-repeat;
    background-size: cover;
    height: calc(100vh - 73px);
    display: flex;
    align-items:center;
    
}
.cart{
    display: inline-block;
    height: 230px;

}
.foto{
    margin: 10px;
    background: white;
    border-radius : 20px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index:1;
    position: relative;
    width: 80%;
    height: 80%;
        .wrong{
          z-index:3;
          position: absolute;
          width: 80%;
        }

}
    img{
    text-align: center;
    //user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    }
    img:hover{
    max-width: 110%;
    width: 110%;
}

.carts {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.word{
    background: url("../img/ABC/book.png") no-repeat center;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 100%;
    margin: 0px 0px;
    img{
      width: 60%;
      height: auto;
      float: right;
    }
}
.word h1{
    font-size: 90px;
    letter-spacing: 5px;
    margin-left: 30px;
    
}

@media screen and (max-width: 768px)
{
.cart{
    max-width: 200px;
    margin: auto;
    height: 50%;
}
.carts {
    margin-top: 0px;
}
.word{
    padding-top: 10px;
    max-height: 150px;
}
.word h1{
    font-size: 55px;
}

}
@media screen and (max-height: 390px){
  .cart{
    max-width: 200px;
    margin: auto;
    height: 50%;
}
.carts {
    margin-top: 0px;
}
.word{
    padding-top: 10px;
    max-height: 150px;
}

}

////////////////////////////////////////////
.dot{
  display: flex;
  align-items:center;
  background: white url("../img/paper.jpg") repeat-y;
  background-size: cover;
  height: calc(100vh - 73px);
}
.games{
  display: flex;
  flex-wrap: wrap;
  align-items:center;
  justify-content:center;
}
.gry {
  display: flex;
  align-items:center;
  justify-content:center;
  img{
    width: 75%;
    max-height: 280px;
    
  }
  :hover{
       -ms-transform: rotate(5deg); /* IE 9 */
        -webkit-transform: rotate(5deg); /* Chrome, Safari, Opera */
        transform: rotate(5deg);
    }

}

@media screen and (max-height: 500px){
  .games{
  flex-wrap: nowrap;
  }
.gry{
    width: 50%;
    max-height: 280px;
    
  }
}

///////////////////////////////////////////////////////////
// home parent 
.back-parent{
  //background: url("../foto/balloon-girl.png") no-repeat right bottom;
  
  background: #0080D3 url("../foto/clouds3.png") repeat-x;
  background-size: 25%;
  height: 91vh;
  padding-top:70px;
  font-family: 'Indie Flower';
  font-size: 18px;
      .container{
        display: flex;
        flex-direction: column;
        position: relative;
      }
      .well{
        padding: 5px;
        min-height: 45px;
        margin-bottom: 5px;
      }
      .btn{ 
      padding: 0px;
      margin: 0px 5px;
      float: right;
      //box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.4);
      img{
        height: 40px;
        width: 40px;
      }
    }
      span, strong{
      height: 40px;
      margin-right:10px;
      display: flex;
      align-items: center;
      text-transform: uppercase;
      } 
  .add-child{
    margin-bottom: 10vh;
    strong{
      color:green;
      // -webkit-box-shadow: 0 8px 6px -6px rgba(0, 200, 0, 0.4);
	    // -moz-box-shadow: 0 8px 6px -6px rgba(0, 200, 0, 0.4);
	    // box-shadow: 0 8px 6px -6px rgba(0, 200, 0, 0.4);
    }
  }
  .allChild{
    display: flex;
    flex-direction: column;
    .child{
      strong{
        color:darkred;
        float: left;
        padding: 0 10px;

      }

    }

  }
  .results{
      position: absolute;
      right: 0px;
      top: -5px;
      z-index: 3;
      font-family: 'Indie Flower';
      background: rgba(0, 128, 211, 0.9);
      padding: 30px 10px;
      .inline, .inline *{
        display: flex;
        flex-direction: row;
        .green{
          background: green;
          span{
          color:white;
          float: left;
          }
        }
        .red {
          background: red;
          span{
          color:white;
          text-align: right;
        }
        }
      }
      
  }
  .dziecko{
      //background: rgba(255, 255, 255, 0.7);
      padding: 0px 10px 20px 10px;
    }
}

.gameOrthography{
  display: flex;
  flex-wrap: wrap;
  align-items:center;
  justify-content:center;
  .icon img{
    width: 200px;
    max-height: 200px;
  }
  .letters{
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
    .letter img{
    width: 30px;
    height: 30px;
  }
  }
  canvas{
    max-width: 100%;
    max-height: calc(100vh - 80px);
  }
}
@media screen and (max-width: 700px) {
.gameOrthography .icon img{
    width: 150px;
    max-height: 150px;
  }
}
.tale{
  padding: 10px;
iframe{
  width: 100%;
  height: auto;
}
}
