<div class="window">
    <div class="container">
        <div class="row carts">
            <div class="cart col-sm-4">
                <div class="foto jeden" ng-click="checkWord()">
                    <img ng-click="check(game[0].englishWord,game[losowo].englishWord)" ng-src="{{game[0].pathWord}}" class="img-responsive"
                        alt="ikona1">
                    <img ng-if="wrong===game[0].englishWord" ng-src="img/ABC/incorrect.png" class="img-responsive wrong" alt="blad">
                </div>
            </div>
            <div class="cart col-sm-4 ">
                <div class="foto dwa ">
                    <img ng-click="check(game[1].englishWord,game[losowo].englishWord)" ng-src="{{game[1].pathWord}}" class="img-responsive"
                        alt="ikona2">
                    <img ng-if="wrong===game[1].englishWord" ng-src="img/ABC/incorrect.png" class="img-responsive wrong" alt="blad">
                </div>
            </div>
            <div class="cart col-sm-4">
                <div class="foto trzy">
                    <img ng-click="check(game[2].englishWord,game[losowo].englishWord)" ng-src="{{game[2].pathWord}}" class="img-responsive"
                        alt="ikona3">
                    <img ng-if="wrong===game[2].englishWord" ng-src="img/ABC/incorrect.png" class="img-responsive wrong" alt="blad">
                </div>
            </div>
        </div>
        <div class="w">

            <div class="word">
                <div class="col-xs-6 text-right"><img ng-show="pasuje" ng-src="{{game[losowo].pathWord}}" class="img-responsive" alt="ikona2"></div>
                <h1 class="col-xs-6 text-left">{{game[losowo].englishWord}}</h1>
            </div>
            <!--<div>
            <input type="text" name="" ng-model="log.username" value="">
            <input type="password" name="" ng-model="log.password" value="">
            <button type="" ng-click="getUser()">pobierz uzytkownika</button>    incorrect.png
        </div>-->
        </div>
    </div>
</div>